In [ ]:
#Step 1 â€” Load Cleaned Data

import pandas as pd
import re

df = pd.read_csv("../data/raw/netflix_movies_detailed_up_to_2025.csv")

# Keep only required columns
df = df[["title", "genres", "description", "vote_average", "popularity"]]

# Drop missing & duplicates
df = df.dropna()
df = df.drop_duplicates()

df.shape

(15778, 5)

In [2]:
'''
ðŸ¥ˆ Step 2 â€” Clean Text Columns

We clean:

Lowercase

Remove special characters

Remove extra spaces
'''
def clean_text(text):
    text = text.lower()
    text = re.sub(r"[^a-zA-Z\s]", "", text)
    text = re.sub(r"\s+", " ", text)
    return text.strip()

df["genres"] = df["genres"].apply(clean_text)
df["description"] = df["description"].apply(clean_text)

In [ ]:
# Create Combined Features
df["combined_features"] = df["genres"] + " " + df["description"]

df[["title", "combined_features"]].head() 

# Now every movie has one unified text representation.

,title,combined_features
0,Shrek Forever After,comedy adventure fantasy animation family a bo...
1,Inception,action science fiction adventure cobb a skille...
2,Harry Potter and the Deathly Hallows: Part 1,adventure fantasy harry ron and hermione walk ...
3,Tangled,animation family adventure feisty teenager rap...
4,How to Train Your Dragon,fantasy adventure animation family as the son ...

In [ ]:
# Step 4 â€” Save Processed Dataset - it create separately in the proceesed folder - cleandata
df.to_csv("../data/processed/netflix_processed.csv", index=False)
# Now your clean dataset is saved separately.

In [5]:
df.shape

(15778, 6)